
<div class="newsletter" style="font-size:10pt;font-family:Arial,sans-serif;">
  
  <ul>
	<li>
		In June, ITN<em>CentralCT</em> celebrated its 10,000th ride and hosted the Founder and President of ITN<em>America</em>, Katherine Freund, for her second stop of a 60-day cross-country <a href="http://www.storybooktour.org/" target="_blank">Storybook Tour</a>. The event, held June 17 at the Pond House Caf&eacute; in Elizabeth Park in West Hartford, also invited riders and volunteers and supporters and their families to share stories about how transportation access has changed lives.</li>
	<li>
		The 10,000 Rides event was covered by <a href="http://www.whctv.org/index.php?option=com_content&amp;view=article&amp;id=5672:independent-transportation-network-2015&amp;catid=209:independent-transportation-network&amp;Itemid=116" target="_blank">WHC-TV</a></li>
	<li>
		ITNCentralCT was also featured in recent articles in:</li>
	<li style="list-style-type:none;">
		<ul>
			<li>
				<a href="http://turleyct.com/flipbooks/RHL_0915_Layout" target="_blank">Rocky Hill LIFE</a> (Sep 2015, pages 18-20)</li>
			<li>
				<a href="http://turleyct.com/flipbooks/VL_0915_Layout" target="_blank">Valley LIFE</a> (Sep 2015, pages 16-17)</li>
			<li>
				<a href="http://turleyct.com/flipbooks/WHL_0915_Layout" target="_blank">West Hartford LIFE</a> (Sep 2015, pages 16-18)</li>
			<li>
				<a href="http://turleyct.com/flipbooks/WL_1015_Layout/" target="_blank">Wethersfield LIFE</a> (Oct 2015, pages 22-25)</li>
		</ul>
	</li>
	<li>
		We are advertising for volunteer drivers in the classified sections of Valley PRESS and West Hartford PRESS. ITN<em>CentralCT</em> offers a free apple pie to those who volunteer via the ad.</li>
	<li>
		The Town of West Hartford proclaimed September 24, 2015 as ITN<em>CentralCT</em> Day. Related remarks by West Hartford Mayor Scott Slifka and ITN<em>CentralCT</em> Executive Director Kevin Farmer are shown from 42:58 to 48:18 of this WHC-TV video of the <a href="http://www.whctv.org/index.php?option=com_content&amp;view=article&amp;id=5735:town-council-meeting-of-september-24-2015&amp;catid=18&amp;Itemid=116" target="_blank">September 24, 2015 West Hartford Town Council Meeting</a></li>
	<li>
		Tomorrow (weather permitting), Saturday, October 3, ITN<em>CentralCT</em> will be marching in the Park Road Parade in West Hartford (parade starts at Ringgold Street at 10:30 am). Please come out and support us and many other community groups.</li>
	<li>
		Sunday morning, October 4, bright and early, ITN<em>CentralCT</em> board member Don Jensen and Executive Director Kevin Farmer will be interviewed on WTIC AM 1080 on the Face CT program, hosted by Sam Gingerella. Face CT starts at 6:00 am. Our portion of the program is expected to commence at about 6:15 am. Please tune in.</li>
</ul>
  
    
</div><!--newsletter-->