
    <div class="pay-online">
      
      <div class="jumbotron section first-hero" id="first-hero-pay-online">
        <h1>Pay Online</h1>
      </div>
      
      <div class="jumbotron section container">
      <div class="title">
        <h2>Add funds to a Personal Transportation Account through Paypal using a credit card</h2>
        <hr align="left">
      </div>
      
      
      
      <div class="row pay-online-content">
        <div class="col-sm-5">
        <p>Example prices include:</p>
        <ul>
        	<li>
        		Annual Membership, $40 for an individual or $65 for a family</li>
        	<!-- <li>
        		Ride Credit, $50 initial deposit</li> -->
        </ul>
        </div>
        
        
        <div class="col-sm-offset-1 col-sm-6 pay-online-form">
          <form>
          <p><strong>
            Mail your check to:<br>
            ITN<em>{{affiliate}}</em><br>
            50 South Main St., Room 216<br>
            West Hartford, CT 06107
          </strong></p>
          </form>
          <p>&nbsp;</p>
        </div>
      </div><!--row-->
      <div style="text-align:center;font-size:20px">The Road Scholarship™ program is available for low-income riders. Please <a ui-sref="contact">contact us</a> and we will email you a simple application form.</div>

    </div><!--jumbo-->  
    </div><!--pay-online-->
